{% load static %}

<aside id="left">
    <div class="identity-module">
        <div class="id-photo">
            <a href="#">
                <img src="{% static 'img/default.webp' %}" alt="">
            </a>
        </div>
        <h4>Hello User</h4>
        <h5>Edit Photo</h5>
        <h5>Membership Status</h5>
        <div class="id-analytics">
            <ul>
                <li>
                    <a href="#"># Views</a>
                </li>
                <li>
                    <a href="#"># Likes</a>
                </li>
                <li>
                    <a href="#"># Favorites</a>
                </li>
                <li>
                    <a href="#"># Block</a>
                </li>
            </ul>
        </div>
        <div class="id-list">
            <ul>
                <ul>
                    <li>
                        <a href="#">My Views List</a>
                    </li>
                    <li>
                        <a href="#">My Likes List</a>
                    </li>
                    <li>
                        <a href="#">My Favorites List</a>
                    </li>
                    <li>
                        <a href="#">My Blocks List</a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</aside>